* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.grid-piece {
    width: 25%;
    height: 25%;
    display: inline-block;
}
.grid-piece:hover {
    background-color: black;
}

#container {
    position: absolute;
    top: calc(50vh - 250px);
    left: calc(50vw - 250px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 8px solid grey;
    width: 500px;
    height: 500px;
}

#canvasSizeButton {
    position: absolute;
    left: calc(50vw - 50px);
    top: calc((50vh - 250px) / 2 - 20px);
    width: 100px;
    height: 40px;
}

@media only screen and (max-width: 520px) {
    #container {
        width: 320px;
        height: 320px;
        top: calc(50vh - 160px);
        left: calc(50vw - 160px);
    }

    #canvasSizeButton {
        width: 90px;
        height: 36px;
        top: calc((50vh - 160px) / 2 - 18px);
        left: calc(50vw - 45px);
        font-size: 10px;
    }
}

@media only screen and (max-height: 630px) {
    #container {
        width: 320px;
        height: 320px;
        top: calc(50vh - 160px);
        left: calc(50vw - 160px);
    }

    #canvasSizeButton {
        width: 70px;
        height: 30px;
        top: calc((50vh - 160px) / 2 - 15px);
        left: calc(50vw - 35px);
        font-size: 9px;
    }
}